
/*@import url('https://fonts.googleapis.com/css?family=Sacramento');*/
/*@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');*/

/*@import url('https://unpkg.com/@egjs/flicking/dist/flicking.css');*/
/*@import url('https://naver.github.io/egjs-flicking-plugins/release/latest/dist/flicking-plugins.css');*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* FONT */
/* font-family: "Open Sans", Arial, sans-serif; */
/* font-family: "Montez", cursive; */
/* font-family: "Sacramento", Arial, serif; */

/* font-family: 'Hi Melody', cursive; */

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: "Montez", cursive;
  font-weight: 400;
  margin: 0 0 0 0;
}

p, ul, ol {
  font-size: 16px;
  color: #848484;
  font-family: "Open Sans", Arial, sans-serif;
}

.syw-cover {
  position: relative;
  height: 800px;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .syw-cover {
    height: 700px;
    height: inherit;
    /*padding: 3em 0;*/
  }
}

.syw-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.syw-overlay .syw-header {
  height: 900px;
}

.syw-cover .display-t {
  display: table;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .syw-cover .display-t {
    height: 600px;
  }
}

.syw-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
}

.syw-cover .display-tc h1 {
  color: #fff;
}

.syw-cover .display-tc h2 {
  color: #fff;
  font-size: 80px;
  /*margin-bottom: 30px;*/
  font-weight: 300 !important;
}

.syw-cover .display-tc h2 strong {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .syw-cover .display-tc h2 {
    font-size: 60px;
  }
}

.syw-cover .display-tc p {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2px;
}

.syw-cover .display-tc span {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}

.syw-cover .display-tc pre {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 7px;
}

.syw-primary-menu .syw-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 18px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
}

.syw-primary-menu .syw-sub-menu a:hover {
  color: rgb(29, 155, 240) !important;
}

.syw-section {
  padding: 4em 0;
  clear: both;
}

@media screen and (max-width: 768px) {
  .syw-section {
    padding: 3em 0;
  }
}

.syw-section-gray {
  background: #F6FAF7;
}

.syw-section-gray-bg {
  background: #F6FAF7;
}

.syw-section-white-bg {
  background-size: cover;
  background: #fff no-repeat center center;
  position: relative;
  /*height: 360px;*/
}

.syw-section-gray-bg {
  background-size: cover;
  background: #F6FAF7 no-repeat center center;
  position: relative;
  /*height: 360px;*/
}

.syw-section-head {
  padding-bottom: 0.5em;
}

.syw-section-head p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}

.syw-section-head h2 {
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  color: #F14E95;
  font-family: "Sacramento", Arial, serif;
}

.syw-section-head span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.syw-section-content .desc {
  padding: 1em;
}

.syw-section-content .desc h3 {
  font-size: 30px;
  font-family: 'Hi Melody', cursive;
}

.syw-section-content .desc p strong {
  font-size: 20px;
  font-family: 'Hi Melody', cursive;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: rgb(29, 155, 240);
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: rgb(29, 155, 240);
  color: #fff !important;
}

.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}

.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.syw-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}

.syw-nav-toggle.active i::before, .syw-nav-toggle.active i::after {
  background: #fff;
}

.syw-nav-toggle.dark.active i::before, .syw-nav-toggle.dark.active i::after {
  background: #fff;
}

.syw-nav-toggle:hover, .syw-nav-toggle:focus, .syw-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.syw-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}

.syw-nav-toggle i::before, .syw-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.syw-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}

.syw-nav-toggle.dark i::before, .syw-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.syw-nav-toggle i::before {
  top: -7px;
}

.syw-nav-toggle i::after {
  bottom: -7px;
}

.syw-nav-toggle:hover i::before {
  top: -10px;
}

.syw-nav-toggle:hover i::after {
  bottom: -10px;
}

.syw-nav-toggle.active i {
  background: transparent;
}

.syw-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.syw-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.syw-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .syw-nav-toggle {
    display: block;
    top: 0px;
    margin-top: 2em;
  }
}